
@{
    ViewBag.Title = "Login";
}
<form method="post" action="/Account/Login">
    @Html.AntiForgeryToken()
    <input type="text" name="Name" />
    <input type="password" name="Password" />
    <input type="checkbox" name="IsRemember" />
    @Html.Action("VerifyCode")
    <input type="submit" value="登录"/>
</form>