
@{
    ViewBag.Title = "Login";
}
<div>
    <input type="text" name="Name"/>
    <input type="password" name="Password" />
    <input type="checkbox" name="IsRemember" />
</div>

@Html.Action("VerifyCode")