@model TeamDay.WebSite.Models.AccountModels.VerifyCode
<div class="form-group">
    <input type="hidden" value="@Model.Id" name="VerifyCodeId"/>
    <input type="text" name="VerifyCode" />
    <img src="data:image/gif;base64,@Model.Base64Img" />
</div>
